@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.container {
    width: 85%;
    margin: auto;
}

.top {
    height: 150px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 60px;
    padding-right: 7.5%;
    /* height: 50px; */
    display: flex;
    justify-content: flex-end;
    background: white;
    transition: 0.3s;
}

.navitem {
    /* background: cornsilk; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    border-bottom: 3px solid white;
    transition: 0.3s;
}

.navitem:hover {
    border-bottom: 3px solid blue;
    color: blue;
}

.content {
    font-family: 'Prompt', sans-serif;
}

.content h1 {
    border-bottom: darkorange 3px solid;
    width: fit-content;
}

.footer {
    height: 400px;
    background: rgb(248,246, 246);
}