.container {
    width: 90%;
    /* border: solid 1px; */
    margin: auto;
}
.producttitle{
    display: flex;
    justify-content: flex-start;
}
.recommendedproduct{
    padding: 10px;
    color: brown;
    border-bottom: brown 2px solid;
}
.allproduct{
    padding: 10px;
}
.content{
    /* height: 500px; */
}

@media (max-width: 420px) {
    .container {
        width: 100%;
        border: solid 1px;
        margin: auto;
    }
}

@media (min-width:421px) and (max-width:768px) {
    .container {
        width: 95%;
        border: solid 1px;
        margin: auto;
    }
}