.container{
    width: 100%;
    height: 100vh;
    background: rgb(227, 255, 252);
}

.success{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
}
.form{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
}

.input{
    width: 100%;
    height: 40px;
    font-size: 24px;
    outline: none;
}

.button{
    width: 100%;
    padding: 7px;
    cursor: pointer;
    background: RoyalBlue;
    border: none;
    color: white;
    font-size: 18px;
}

@media (max-width: 600px){
    .success{
        width: 90%;
        padding: 10px;
    }
    .form{
        width: 90%;
    }
    .form h1{
        font-size: 20px;
    }
    .form h2{
        font-size: 18px;
    }
    .form h3{
        font-size: 16px;
    }
    .input{
        font-size: 20px;
    }
}