.frame{
    padding: 20px;
}
.title{
    line-height: normal;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.inputfield{
    margin-top: 20px;
    display: flex;
}
.field, .input{
    line-height: 3.0;
}

.field{
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

.submit{
    width: 80px;
    padding: 0;
    background: tomato;
    border: none;
    color: white;
    cursor: pointer;
}

.submit:hover{
    background: rgb(255, 117, 92);
}